.showcase_sec {
  padding: 100px 0px;
}
.showcase_heading {
  h6 {
    font-size: 22px;
    padding-bottom: 15px;
  }
  h3 {
    font-size: 30px;
    padding-bottom: 80px;
  }
}
.showcase_card {
  width: 450px;
  margin: 0 auto;
  padding-bottom: 30px;
  border: 0px;
  h5 {
    font-size: 25px;
    text-align: center;
    padding: 15px 0px;
  }
  p {
    text-align: justify;
    line-height: 25px;
    padding-bottom: 20px;
  }
  .card-body {
    padding: 10px 15px;
  }
  &:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
  }
}
.image-wrap {
  width: 450px;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
}
.image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  transition: all 5s ease-in-out;
}
.image-wrap:hover img {
  object-position: bottom center;
}
.showcase_link {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  a {
    vertical-align: middle !important;
    font-size: 25px !important;
    padding: 0px !important;
    background-color: #e6e6e6;
    color: black;
    width: 40px;
    height: 40px;
    &:hover {
      background-color: #e6e6e6;
      color: gray;
    }
  }
}
